<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QAGNITE</title>
    <style>
        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        img {
            max-width: 50%;
            height: auto;
        }
    </style>
    <!-- Redirect after 3 seconds -->
    <meta http-equiv="refresh" content="3;url=/dashboard/">
</head>

<body>
    <!-- <img src="{% static 'images/qagnite.png' %}" alt="QAGNITE Logo"> -->
    <img src="/qagnite.png" alt="QAGNITE Logo">
</body>

</html>